HELP.md


#target/
# Ignorer tous les fichiers dans target sauf les .jar
target/classes/
target/maven-archiver/
target/maven-status/
target/surefire-reports/
target/test-classes/
target/generated-sources/
target/generated-test-sources/



!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### front end react###
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
Fnode_modules/
nodes_modulees/

# Expo
Front/MiniTMS/.expo/
Front/MiniTMS/dist/
Front/MiniTMS/web-build/
Front/MiniTMS/expo-env.d.ts

# Native
Front/MiniTMS/*.orig.*
Front/MiniTMS/*.jks
Front/MiniTMS/*.p8
Front/MiniTMS/*.p12
Front/MiniTMS/*.key
Front/MiniTMS/*.mobileprovision

# Metro
Front/MiniTMS/.metro-health-check*

# debug
Front/MiniTMS/npm-debug.*
Front/MiniTMS/yarn-debug.*
Front/MiniTMS/yarn-error.*

# macOS
Front/MiniTMS/.DS_Store
Front/MiniTMS/*.pem

# local env files
Front/MiniTMS/.env*.local

# typescript
Front/MiniTMS/*.tsbuildinfo
node_modules
node_modules
